@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to bottom, #f6f3ec, #d9e7c6);
  overflow-x: hidden;
}

button, select, input {
  outline: none;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #b8d8a9;
  border-radius: 10px;
}

html.dark {
  background: linear-gradient(to bottom, #1d1e18, #2d2e26);
}
